@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@tailwind base;

body {
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	text-align: center;
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

/* birthday criteria container */
.bDate-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

/* Search Field */
#searchInput {
    display: flex;
    width: 85%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
}

/* button container */
.bDate-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

/* Search btn */
#birthDate {
	position: relative;
	margin-left: 40px;
}

/* birthday criteria */
.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.bDate-container {
		font-size: 14px;
	}
}